footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 50px;
    z-index: 5;

    span {
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .copyrightLogo {
        font-size: 20px;
        margin-right: 5px;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        border-bottom: 2px solid transparent;

        &:hover {
            color: rgba(255, 255, 255, 0.7);
            border-bottom: 2px solid rgba(255, 255, 255, 0.7);
        }
    }
}

.darkFooter {
    box-shadow: 0 -1px 3px 0 rgba(0,0,0, 0.2);
    background-color: white;

    span {
        color: black;
    }

    a {
        color: black;

        &:hover {
            color: rgba(0, 0, 0, 0.5);
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        }
    }
}