header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;

    img {
        height: 50px;
        cursor: pointer;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-left: 20px;
        border-bottom: 2px solid transparent;

        &:hover {
            color: rgba(255, 255, 255, 0.7);
            border-bottom: 2px solid rgba(255, 255, 255, 0.7);
        }
    }

    .darkLinks {

        a {
            color: black;

            &:hover {
                color: rgba(0, 0, 0, 0.5);
                border-bottom: 2px solid rgba(0, 0, 0, 0.5);
            }
        }

    }
}

.darkHeader {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}